.input-container {
  @apply flex flex-col gap-1 w-full;
}

.input-label {
  @apply text-xs;
}

.input-field {
  @apply
    h-10
    px-4
    text-xs
    font-medium
    rounded-[10px]
    bg-light
    dark:bg-dark
    shadow-border
    placeholder:text-dark
    dark:placeholder:text-light
    placeholder:opacity-75
    focus:outline-none
  ;

  &--left {
    @apply text-left;
  }

  &--right {
    @apply text-right;
  }
}
