.switch {
  &__input {
    @apply sr-only;
  }

  &__label {
    @apply inline-flex items-center gap-2 cursor-pointer;

    &__content {
      @apply select-none;

      &--left {
        //
      }

      &--right {
        //
      }
    }

    &__toggle {
      @apply relative p-[5px];

      &--underball {
        @apply
          w-10
          h-4
          bg-dark  
          rounded-full
          shadow-border
        ;
        transition: all ease-in-out 100ms;
      }

      &--ball {
        @apply
          absolute
          left-0
          top-[1px]
          w-6
          h-6
          bg-white
          dark:bg-dark
          rounded-full
          peer-checked:left-[calc(100%-24px)]
          shadow-border
        ;
        transition: all ease-in-out 100ms;
      }

    }
  }
}