@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .base-container {
    @apply
      max-w-[1440px]
      w-full
      ml-auto
      mr-auto
      pl-[5%]
      pr-[5%]
      text-sm
      text-dark
      dark:text-light
    ;
    }
    
  .shadow-border {
    @apply shadow-custom dark:border dark:border-light;
  }
}
